[submodule "third-party/cpu_features"]
	path = third-party/cpu_features
	url = git@github.com:google/cpu_features.git
[submodule "third-party/xxHash"]
	path = third-party/xxHash
	url = git@github.com:Cyan4973/xxHash.git
